<main>
    <br> <br>
    <a class = "step"> Step 1: Set-up Terminal </a> <br><br><br>
    <a class = "guide"> In Kali Linux open up a terminal </a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-09-20_13-27-06.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> Type 'ifconfig' into the terminal</a> <br> <br>
    <a class = "guide"> look for the name of your wifi connector, for mine it's 'wlan0'</a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-11_18-36-08.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> now we have to change this from connecting to wifi, to being able to scan other wifi</a> <br> <br>
    <a class = "guide"> enter these three commands to do that.</a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-11_18-44-43.png" width ="400" class = "image" > <br> <br> <br>
