<main>
    <br> <br>
    <a class = "step"> Step 1: Restart Computer </a> <br><br><br>
    <a class = "guide"> click F2 on startup to get to BIOS</a> <br><br> <br>

    <a class = "guide"> Under Secure Boot > Secure Boot Enable, uncheck the 'Secure Boot Enable' checkbox</a> <br><br>
    <br><br> <img src ="\assets\IMG-5670.jpg" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> click 'yes' on the pop-up </a> <br><br>
    <br><br> <img src ="\assets\IMG-5671.jpg" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> Under General > Advanced Boot Options, check the box 'Enable Legacy Option ROMs'</a> <br><br>
    <br><br> <img src ="\assets\IMG-5677.jpg" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> click 'yes' on the pop-up</a> <br><br>
    <br><br> <img src ="\assets\IMG-5678.jpg" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> Under Genereal > Boot Sequence, check the 'Legacy External Devices' button</a> <br><br>
    <br><br> <img src ="\assets\IMG-5679.jpg" width ="400" class = "image" > <br> <br> <br>
    <br><br> <img src ="\assets\IMG-5680.jpg" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> click the 'Apply' Button in the bottom right</a> <br><br>
    <br><br> <img src ="\assets\IMG-5682.jpg" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> click 'OK'</a> <br><br>
    <br><br> <img src ="\assets\IMG-5683.jpg" width ="400" class = "image" > <br> <br> <br>

    <a class = "guide"> Next, insert your usb with the flashed Kali Linux OS, and click 'Exit' on the bottom right to boot into Kali Linux</a> <br><br>

    <a class = "guide"> When finished with Kali, restart computer and go back into BIOS</a> <br><br>
    <a class = "guide"> Follow the same steps, but in reverse order, then click 'Apply' and 'Exit' to return to your original OS</a> <br><br>

