<main>
    <br> <br>
    <a class = "step"> Step 1: Run the Kismet command </a> <br><br><br>

    <br><br> <img src ="\assets\Screenshot_2023-10-11_18-45-39.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> kismet will start scanning, and showing it all in the terminal </a> <br>
    <br> <a class = "guide"> (red rectangles are to hide the MAC addresses) </a> <br>
    <br><br> <img src ="\assets\Untitled-Artwork.png" width ="400" class = "image" > <br> <br>
    
    <a class = "step"> Step 2: Open Kismets UI </a> <br><br><br>
    <a class = "guide"> the link should be displayed at the top, click ctrl+C to open it, otherwise open a web browser and type it in. </a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-11_18-55-49.png" width ="400" class = "image" > <br> <br>
    <a class = "guide"> next you'll create a log-in </a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-11_18-56-44.png" width ="400" class = "image" > <br> <br>
    <a class = "guide"> now you should see the main page </a> <br>
    <br><br> <img src ="\assets\Untitled-Artwork 4.png" width ="400" class = "image" > <br> <br>


</main>