<main>
    <br> <br>
    <a class = "step"> Step 1: Download Kali Linux </a> <br><br><br>
    <a class = "guide"> navigate to: https://www.kali.org/get-kali/#kali-live </a> <br>
    <br> <a class = "guide"> select the center option and download </a> <br>
    <br><br> <img src ="\assets\Kali_Boot_Option.JPG" width ="400" class = "image" > <br> <br> <br>

    <a class = "step"> Step 2: Download Balena Etcher </a> <br><br><br>
    <a class = "guide"> navigate to:  https://etcher.balena.io/ and click download </a> <br>
    <br><br> <img src ="\assets\BalenaEtcher_img.JPG" width ="400" class = "image" > <br> <br>

    <a class = "step"> Step 3: Flash the CD file </a> <br><br><br>
    <a class = "guide"> once downloaded, open the application and choose 'Flash from file' </a> <br>
    <br><br> <img src ="\assets\Choose_flash_from_file.JPG" width ="400" class = "image" > <br> <br>
    <a class = "guide"> select the dowloaded Kali file and flash </a> <br> <br> <br>
    <a class = "guide"> move the final flashed file to a USB </a> <br> <br> <br> <br>
</main>