
<div class="all">
<form (ngSubmit)="addNote(notesForm)" #notesForm="ngForm">
    <br> <br> <br>
        <mat-form-field class="example-full-width">
          <mat-label><br><br>Title</mat-label>
          <input  style="font-size: 100px" matInput placeholder="Ex. Title"
          [(ngModel)]="model.ntitle" name="ntitle"
          #note="ngModel">
        </mat-form-field>
        <br> <br> <br>
        <mat-form-field class="example-full-width">
          <mat-label><br><br>Note</mat-label>
          <input style="font-size: 100px" matInput placeholder="Ex. Note"
          [(ngModel)]="model.note" name="note"
          #note="ngModel">
        </mat-form-field>
    <br> <br>
    <button mat-raised-button color="accent" type="submit">Submit</button>
</form>
</div>