::ng-deep mat-form-field{
    display: flex;
    width: 1000px;
    height: 500px;
    align-self: center;
}
::ng-deep mat-label{
    font-size: 100px;
    margin:ridge;
    text-indent: 50px;
}

.all {
    padding-left:650px;
    /* vertical-align: center; */
}