<main>
    <br> <br>
    <a class = "guide"> In order to turn our file into a csv file, we need to run it through wireshark</a> <br><br><br>
    <a class = "step"> Step 1: Get Kismet output file and conver it </a> <br><br><br>
    <a class = "guide"> Once finished running Kismet, type Ctrl+C into the terminal </a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-11_19-23-10.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> The kismet log will automatticaly be saved in the file path, <br> type 'ls' to see it</a> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-11_19-24-02.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> now we have to convert the file from .kismet, to .pcap</a> <br> <br>
    <a class = "guide"> a .pcap file is the file that can be used with Wireshark</a> <br> <br>
    <a class = "guide"> this is a command that comes with the kismet tool:</a> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-24_00-02-09.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "step"> Step 2: Run the file through Wireshark </a> <br><br><br>
    <a class = "guide"> Open Wireshark</a> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-23_23-48-38.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> click 'File' > 'Open' </a> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-23_23-50-47.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> select the .pcap file </a> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-24_00-08-43.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> the file contents will be displayed on the Wireshark screen </a> <br> <br>
    <a class = "guide"> now select 'File' > 'Export Packet Dissections' > 'As CSV' </a> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-24_13-45-22.png" width ="400" class = "image" > <br> <br> <br>
    <a class = "guide"> name it anything, and save </a> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-24_13-46-01.png" width ="400" class = "image" > <br> <br> <br>
    <br><br> <img src ="\assets\Screenshot_2023-10-24_13-47-19.png" width ="400" class = "image" > <br> <br> <br>